<img src="../../../assets/img/logo.svg" alt="Logo Blogr no rodapé">
<h3 class="title-footer">Produtos</h3>
<ul class="list-footer">
  <li class="item-footer">Visão Geral</li>
  <li class="item-footer">Precificação</li>
  <li class="item-footer">Mercado</li>
  <li class="item-footer">Características</li>
  <li class="item-footer">Integrações</li>
</ul>
<h3 class="title-footer">Companhia</h3>
<ul class="list-footer">
  <li class="item-footer">Sobre</li>
  <li class="item-footer">Equipe</li>
  <li class="item-footer">Blog</li>
  <li class="item-footer">Carreiras</li>
</ul>
<h3 class="title-footer">Conexões</h3>
<ul class="list-footer">
  <li class="item-footer">Contato</li>
  <li class="item-footer">Notícias</li>
  <li class="item-footer">LinkedIn</li>
</ul>
