<section class="container__header">
    <img src="../../../assets/img/logo.svg" alt="Logo Blogr">
    <button (click)="dropMenu()" class="menuHeader" id="menuHeader"></button>
    <div class="menuList" id="menuList">
        <ul class="list-itens">
            <li class="container-itens" *ngFor="let iten of itens">
                <div (click)="dropSubList();$event.stopPropagation()" class="item-title">
                    <button class="btnHeader">
                      <p>{{ iten.title }}</p>
                      <span class="material-symbols-outlined chevron" id="chevron">
                          chevron_left
                      </span>
                    </button>
                </div>
                <nav class="item-list" id="item-list">
                  <a href="#" class="linkTopic" *ngFor="let topic of iten.topics">
                    {{ topic }}
                  </a>
                </nav>
            </li>
        </ul>
        <hr>
        <div class="containerHeader-btns">
            <button class="login">Login</button>
            <button class="sign-up">Inscreva-se</button>
        </div>
    </div>
</section>
<section class="container__sec">
    <h1 class="title">Uma plataforma editorial moderna</h1>
    <p class="text">Aumente seu público e construa sua filial on-line</p>
    <div class="sec__container-btn">
        <button class="btn free">Comece de graça</button>
        <button class="btn more">Saiba mais</button>
    </div>
</section>

