.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem  1.5rem 0 1.5rem;
    background-color: rgb(60, 61, 61);
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

.buttonHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url('../../../assets/img/icon-hamburger.svg');
}
