.container {
    height: 32.75rem;
    background:  url('../../../assets/img/bg-pattern-intro-mobile.svg'), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 1600px 1600px, auto;
    background-position: 30%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 2.5rem  1.5rem 0 1.5rem;
    border-bottom-left-radius: 150px;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.375rem;
}

.menuHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.563rem;
    height: 1.125rem;
    padding: 0;
    border: none;
    background: url('../../../assets/img/icon-hamburger.svg') no-repeat center;
    transition: .5s;
}

.menuHeader-active {
    transition: .5s;
    background: url('../../../assets/img/icon-close.svg') no-repeat center
}

.menuList {
    /* display: none; */
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 324px;
    background-color: rgb(240, 240, 240);
    color: #000;
    border-radius: 10px;
    padding: 2.25rem 0;
    
}

.menuList-active {
    display: initial;
}

.container-itens {
    margin-bottom: 1.5rem;
}

.item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: hsl(208, 49%, 24%);
}

.item-list {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    margin: 1.75rem 1.5rem 0 1.5rem;
}

.topic {
    font-size: 15px;
    font-weight: 500;
    color: hsl(208, 49%, 24%);
    padding-bottom: 1.75rem;
}

.topic:active {
    color: #000;
}

.item-list:last-child {
    padding-top: 1.75rem;
}

.chevron {
    font-size: 20px;
}

.chevron:active {
    transform: rotate(-90deg);
    transition: .2s;
}

hr {
    margin: 0 1.5rem 1.5rem 1.5rem;
} 

.containerHeader-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: hsl(208, 49%, 24%);
    border: none;
    margin-bottom: 22px;
}

.sign-up {
    width: 137px;
    height: 48px;
    border-radius: 22px;
    border: none;
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: #fff;
}

.sign-up:active {
    background: hsl(355, 100%, 74%)
}



.title {
    font-family: 'Overpass', sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: .05rem;
    margin-bottom: 1.125rem;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2.75rem;
}

.sec__container-btn {
    text-align: center;
}

.btn {
    width: 8.5rem;
    height: 2.625rem;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.free {
    margin-right: 0.875rem;
    color: hsl(353, 100%, 62%);
}

.free:active {
    border: none;
    color: #fff;
    background-color: hsl(355, 100%, 74%);
}

.more {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.more:active {
    border: none;
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}
