<div class="container">
    <header class="container__header">
        <img src="../../../assets/img/logo.svg" alt="">
        <button class="menuHeader"></button>
    </header>
    <section class="container__sec">
        <h1 class="title">Uma plataforma <br> editorial moderna</h1>
        <p class="text">Aumente seu público e construa <br> sua filial on-line</p>
        <div class="sec__container-btn">
            <button class="btn free">
                Comece de graça
            </button>
            <button class="btn more">
                Saiba mais
            </button>
        </div>
    </section>
</div>
