@media screen and (min-width: 476px) {
  .container-infra {
    background-position: -25px -180px, 0;
  }

  .img-infra {
    top: 103rem;
  }
}

@media screen and (min-width: 675px) {
  .img-infra {
    top: 100rem;
  }
}

@media screen and (min-width: 878px) {
  .container-infra {
    flex-direction: row;
    justify-content: space-around;
    height: 25rem;
    background-size: 900px 900px, auto;
    background-position: -190px -300px, 0;
  }

  .img-infra {
    position: relative;
    top: 0;
    width: 40.7%;
    height: 41rem;
    background-size: 620px 620px;
    background-position: left -40px top;
  }

  .content-infra {
    width: 40%;
  }

  .title-infra {
    margin: 0;
  }

  .text-infra {
    margin: 1.5rem 0 0 0;
  }
}
