<section class="conteiner-future">
  <h2 class="title-future">Projetado para o futuro</h2>
  <div class="img-future"></div>
  <h3 class="subtitle">
    Apresentando um <br> editor extensível
  </h3>
  <p class="text">
    Blogr possui uma interface extremamente intuitiva que permite que você se concentre em uma coisa: criar conteúdo.
    O editor suporta o gerenciamento de vários blogs e permite a fácil manipulação de incorporações, como imagens,
    vídeos e Markdown. A extensibilidade com plugins e temas fornece maneiras fáceis de adicionar funcionalidade ou
    alterar a aparência de um blog.
  </p>
  <h3 class="subtitle">
    Gerenciamento robusto <br> de conteúdo
  </h3>
  <p class="text">
    O gerenciamento de conteúdo flexível permite que os usuários se movam facilmente pelas postagens. Aumente a usabilidade do seu blog
    adicionando categorias, seções, formato ou fluxo personalizados. Com essa funcionalidade, você está no controle total.
  </p>
</section>
<section class="container-infra">
  <div class="img-infra"></div>
  <div class="content-infra">
    <h2 class="title-infra">
      Infraestrutura de última geração
    </h2>
    <p class="text-infra">
      Com confiabilidade e velocidade em mente, os data centers em todo o mundo fornecem a espinha dorsal para conectividade ultrarrápida.
      Isso garante que seu site seja carregado instantaneamente, não importa onde seus leitores estejam, mantendo seu site competitivo.
    </p>
  </div>
</section>
<section class="container-free">
  <div class="img-free"></div>
  <h3 class="subtitle">
    Livre, aberto, simples
  </h3>
  <p class="text">
    Blogr é um aplicativo gratuito e de código aberto apoiado por uma grande comunidade de desenvolvedores úteis. Suporta
    recursos como realce de sintaxe de código, feeds RSS, integração de mídia social, ferramentas de comentários de terceiros,
    e funciona perfeitamente com o Google Analytics. A arquitetura é limpa e é relativamente fácil de aprender.
  </p>
  <h3 class="subtitle">
    Ferramentas poderosas
  </h3>
  <p class="text">
    Baterias incluídas. Criamos uma ferramenta CLI simples e direta que facilita a personalização e a implantação, mas
    capaz de produzir até mesmo os locais mais complicados.
  </p>
</section>

